git+git://github.com/kennethreitz/requests.git#egg=requests
certifi>=0.0.7
oauthlib
chardet>=1.0.0
git+git://github.com/maraujop/requests-oauth.git#egg=requests-oauth
jsonpatch==0.10
jsonpointer==0.5
jsonschema>=0.7,<1
mock==1.0.1
validictionary